@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;627&family=Chelsea+Market&family=EB+Garamond:wght@400;500;600;700&family=Inter:wght@400;500;700&family=Montserrat&family=Open+Sans:wght@300;400;500;600;700;800&family=Rubik&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

*,*::after,*::before
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    /* outline: 1px solid black !important; */
}
  
body 
{
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1.5;
}
  
a 
{
  text-decoration: none;
  font-weight: 600;
  color: #3C2A21;
}

ul 
{
  list-style: none;
}

/* ----- Header ----- */
  
header 
{
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}
  
.navbar 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
}
  
.logo img 
{
    height: 50px;
}

.links 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
  
.links li 
{
    list-style: none;
    margin-right: 30px;
    display: inline-block;
    margin-right: 1rem;
}

.links li a 
{
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease-in-out;
}

.links li a:hover,
.links li a.active 
{
    color: #6c63ff;
}
  
.person 
{
    padding: 10px;
    color: #1B110A;
    border-radius: 5px;
}

.toggle_btn 
{
    font-size: 30px;
    cursor: pointer;
    display: none;
}
  
/* ----- Upper box section ----- */
  
.upper_box 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BFD8FF;
    color: #1B110A;
    font-family: 'Open Sans';
    font-weight: 500;
    padding: 20px;
    width: 90%;
    margin: auto;
    border-radius: 20px;
}

.greetings 
{
    font-size: 30px;
    margin-bottom: 10px;
}

.greetings img
{
    width: 50px;
}
  
.quote 
{
    font-size: 16px;
}
  
.talk_to_hope a 
{
    background-color: #fff;
    color: #1B110A;
    padding: 10px 30px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
}

.talk_to_hope img 
{
    width: 60px;
    margin-left: 10px;
}
  
.just_for_you
{
    position: relative;
    font-family: 'Open Sans';
    font-weight: 600;
    margin: 5px 8%;
}

.grid
{
    position: relative;
    display: grid;
    grid-template-rows: 100px 150px;
    grid-template-columns: 300px 300px 210px 300px;
    /* grid-template-rows: 1fr 2.5fr;
    grid-template-columns: 2fr 2fr 1fr 2fr; */
    gap: 15px;
    margin: 10px 5% 0;
}

.box-1
{
   grid-row: 1/2;
   grid-column: 1/3;
   background: #B3E0FF;
   border-radius: 15px;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 30px;
   padding: 10px 20px;
   color: #515151;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.box-2
{
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B3E0FF;
    border-radius: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #FFFFFF;
    cursor: pointer;
    transition: ease-in-out .6s;
}

.box-2:hover
{
    transform: scale(1.05);
    font-size: 29px;
}

.box-3
{
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B3E0FF;
    border-radius: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #FFFFFF;
    cursor: pointer;
    transition: ease-in-out .6s;
}

.box-3:hover
{
    transform: scale(1.05);
    font-size: 29px;
}

.box-4
{
    grid-row: 1/3;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #FFFFFF;
    cursor: pointer;
    transition: ease-in-out .6s;
}

.box-4:hover
{
    transform: scale(1.05);
    font-size: 29px;
}

.box-5
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    grid-row: 1/3;
    grid-column: 4/5;
    background: linear-gradient(180.09deg, #FFBE4E 60.02%, rgba(255, 190, 78, 0) 99.92%);
    border-radius: 20px;
}

.box-5 h3
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #522200;
    padding-bottom: 20px;
}

.box-5 p
{
    color: #FFFFFF;
}

.box-5 button
{
    position: relative;
    margin: 0 40px;
    padding: 10px 20px;
    background: #399199;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: #FFFFFF;
    border: none;
    margin-top: 20px;
    width: 100%;
}

.buttons
{
    position: relative;
    margin: 10px 5%;
}

.buttons button
{
    background: none;
    padding: 5px 20px;
    color: #FF6600;
    border: 1.5px solid #FF6600;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 5px;
    cursor: pointer;
}