@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;627&family=Chelsea+Market&family=EB+Garamond:wght@400;500;600;700&family=Inter:wght@400;500;700&family=Montserrat&family=Open+Sans:wght@300;400;500;600;700;800&family=Rubik&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
*,*::after,*::before
{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Open Sans';
    /* outline: 1px solid black !important; */
}
body
{
    height: 100vh;
    position: relative;
    background: #BFD8FF;
}
section
{
    display: flex;
    flex-wrap: wrap;
}
section > .left-box
{
    display: flex;
    flex-direction: column;
    background-color: #DAE6F2;
    flex: 1 1 18%;
    height: 100vh;
    height: 100svh;
    align-items: center;
    justify-content: space-evenly;
}
.left-box img
{
    width: 120px;
}
.left-box .buttons
{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.left-box .buttons .icon 
{
font-size: 18px;
margin-right: 5px;
}
.left-box .buttons button
{
  display: flex;
  /* margin: 5px 0px; */
  background: none;
  padding: 12px 20px;
  color: #1973E8;
  /* border: 2px solid #1973E8; */
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: .5s ;
  font-size: 16px;
}
.left-box .buttons button:hover
{
  background: #E5F0FF;
  /* border-radius: 10px; */
}
section > .right-box
{
    background: #BFD8FF;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex: 1 1 82%;
    height: 100vh;
    height: 100svh;
}
:is(.users-list, .chat-box)::-webkit-scrollbar
{
  width: 0px;
}
.chat-box
{
    position: relative;
    flex: 1 1 90%;
    overflow-y: auto;
    padding: 10px 30px 20px 30px;
    background: #BFD8FF;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
              inset 0 -32px 32px -32px rgb(0 0 0 / 5%);    
}
.right-box .chat
{
    padding-top: 30px;
}
.chat-box .chat p
{
    word-wrap: break-word;
    padding: 10px 25px;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 8%),
                inset 0 -32px 32px -32px rgb(0 0 0 / 10%);
}
.chat-box .outgoing
{
    display: flex;
}
.chat-box .outgoing .details
{
    margin-left: 20px;
    margin-right: auto;
    max-width: 500px;
}
.outgoing .details p
{
    background: #FFFFFF;
    color: #1B110A;
    border-radius: 15px;
    font-weight: 600;
}
.chat-box .incoming
{
    display: flex;
    align-items: flex-end;
}
.chat-box .incoming .details
{
    margin-left: auto;
    margin-right: 20px;
    max-width: 500px;
}
.incoming .details p 
{
    background: #FFFFFF;
    color: #1B110A;
    border-radius: 20px;
    font-weight: 600;
}
input:focus, textarea:focus, select:focus
{
    outline: none;
}
.form-container
{
  position: relative;
  flex: 1 1 10%;
}
.typing-area
{
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}
.typing-area input
{
    height: 45px;
    width: calc(100% - 58px);
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    padding: 0 13px;
    background: #9AC2FA;
    border: none;
    border-radius: 15px;
    color: #515151;
}
.typing-area button
{
    color: #1973E8;
    width: 55px;
    font-weight: 600;
    border: none;
    background: #BFD8FF;
    font-size: 24px;
    cursor: pointer;
}
.typing-area button.active
{
  opacity: 1;
  pointer-events: auto;
}

/* Responive media query */
@media screen and (max-width: 450px) {
  .form, .users{
    padding: 20px;
  }
  .form header{
    text-align: center;
  }
  .form form .name-details{
    flex-direction: column;
  }
  .form .name-details .field:first-child{
    margin-right: 0px;
  }
  .form .name-details .field:last-child{
    margin-left: 0px;
  }

  .users header img{
    height: 45px;
    width: 45px;
  }
  .users header .logout{
    padding: 6px 10px;
    font-size: 16px;
  }
  :is(.users, .users-list) .content .details{
    margin-left: 15px;
  }

  .users-list a{
    padding-right: 10px;
  }

  .chat-area header{
    padding: 15px 20px;
  }
  .chat-box{
    min-height: 400px;
    padding: 10px 15px 15px 20px;
  }
  .chat-box .chat p{
    font-size: 15px;
  }
  .chat-box .outogoing .details{
    max-width: 230px;
  }
  .chat-box .incoming .details{
    max-width: 265px;
  }
  .incoming .details img{
    height: 30px;
    width: 30px;
  }
  .chat-area form{
    padding: 20px;
  }
  .chat-area form input{
    height: 40px;
    width: calc(100% - 48px);
  }
  .chat-area form button{
    width: 45px;
  }
}