@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;627&family=Chelsea+Market&family=EB+Garamond:wght@400;500;600;700&family=Inter:wght@400;500;700&family=Montserrat&family=Open+Sans:wght@300;400;500;600;700;800&family=Rubik&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    /* outline: 1px solid black !important; */
  }
  
  body 
  {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1.5;
    background: #DAE6F2;
  }
  
  a 
  {
    text-decoration: none;
    font-weight: 600;
    color: #3C2A21;
  }
  
  ul 
  {
    list-style: none;
  }
  
  /* HEADER */
  
header 
{
    padding: 1rem;
}
  
.navbar 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.logo img 
{
    height: 50px;
}
  
.links
{
  margin: 0;
}

.links li 
{
    display: inline-block;
    margin-right: 1rem;
}
  
.logout_btn 
{
    display: inline-block;
    color: #3C2A21;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-right: 1rem;
}

.toggle_btn 
{
    display: none;
}

section
{
    display: flex;
    height: calc(100vh - 150px);
}

.left-box
{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.right-box
{
    width: 50%;
    height: 100%;
}

.right-box .man
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.right-box img
{
    width: 500px;
}

.music-blob
{
    display: inline-block;
}

.music-blob img
{
    width: 350px;
    padding: 0;
    margin-left: 50px;
}

.music-content
{
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}

.music-section
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    margin-bottom: 0;
}

.music-section .box p
{
    padding: 10px;
    color: #1973E8;
    font-weight: 600;
}

/* ----- RESPONSIVENESS ----- */

@media only screen and (max-width: 600px) 
{

    ul
    {
        display: none;
    }
      
    .logout_btn
    {
        display: none;
    }

    .active1
    {
        position: absolute;
        background: #5A9BFF;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 80px;
        right: 35px;
        width: 80%;
        margin: 0 auto;
        padding: 30px;
        z-index: 1000;
    }
    
    .active1 li a 
    {
        color: #FFF;
    }
  
    .toggle_btn 
    {
      display: block;
      font-size: 1.5rem;
      cursor: pointer;
    }
  
    .links li 
    {
      display: block;
      margin-right: 0;
      margin-bottom: 1rem;
    }

    .carousel-item
    {
        border-radius: 50px 50px 0 0;
    }
}


@media screen and (max-width: 890px) 
{
    .logout_btn
    {
        display: none;
    }

    .right-box
    {
        display: none;
    }

    .left-box
    {
        display: flex;
        width: 100%;
        position: relative;
        margin: 40px auto 0;
    }

    .music-blob
    {
        width: 100%;
        margin: auto;
        display: flex;
    }

    .music-blob img
    {
        margin: auto;
    }

    .music-content
    {
        width: 100%;
        margin: 20px auto;
    }
    
    .music-content h2
    {
        font-size: 20px;
        margin: auto;
        
    }

    .music-content .music-section
    {
        margin: auto;
    }
}