@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;627&family=Chelsea+Market&family=EB+Garamond:wght@400;500;600;700&family=Inter:wght@400;500;700&family=Montserrat&family=Open+Sans:wght@300;400;500;600;700;800&family=Rubik&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

*,*::after,*::before 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
  
body 
{
    height: 100%;
    min-height: 100vh;
    position: relative;
    background: #EAF2FF;
}
  
.logo a 
{
    display: block;
    width: 100%;
    max-width: 180px;
    height: auto;
}
  
.logo a img 
{
    width: 100%;
    max-width: 150px;
    height: auto;
    /* max-height: 150px; */
}
  
header 
{
    position: relative;
    padding: 0 2rem;
    height: 80px;
    overflow: visible;
}
  
section 
{
    display: flex;
    flex-wrap: wrap;
}
  
section > .rocket 
{
    display: flex;
    flex-direction: column;
    flex: 1 1 60%;
    height: calc(100vh - 80px);
    align-items: center;
    justify-content: flex-start;
}
  
.rocket img 
{
    width: 100%;
    max-width: 445px;
    height: auto;
}
  
section > .login_box 
{
    display: flex;
    flex-direction: column;
    flex: 1 1 40%;
    height: calc(100vh - 80px);
    align-items: flex-start;
}
  
.login_box p 
{
    margin: 20px 0;
    width: 100%;
}

.login_box h1
{
    display: block;
    width: 100%;
}

.container 
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
  
form 
{
    margin-top: 30px;
    width: 100%;
    max-width: 500px;
}
  
.input_box 
{
    display: flex;
    flex-direction: column;
}
  
.input_box span 
{
    margin: 5px 0 0 0;
    font-weight: 600;
    font-family: 'Open Sans';
    color: #5E5E5E;
}
  
.input_box input 
{
    border-radius: 12px;
    height: 50px;
    width: 100%;
    border: 2px solid #5E5E5E;
    background: transparent;
    padding: 20px 20px 20px 30px;
    font-size: 14px;
    font-weight: 500;
    outline: none;
}
  
.input_box .icon 
{
    position: relative;
    top: 34px;
    left: 10px;
}
  
.input_box .eye 
{
    width: 20px;
    position: absolute;
    transform: translate(230px,58px);
    background: none;
    cursor: pointer;
}
  
.forgot_password 
{
    display: flex;
    justify-content: space-between;
    margin: 10px 5px 5px 5px;
}
  
.forgot_password a 
{
    padding: 5px;
    font-size: 12px;
    color: #1973E8;
    font-weight: 500;
    text-decoration: none;
}

.container .submit_button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:  5px 10px;
    margin: 10px 0 0 0;
    border: 2px solid #1973E8;
    border-radius: 5px;
    background: #1973E8;
    color: #FFF;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.container .submit_button:hover
{
    background: transparent;
    color: #1973E8;
}

.container #error-message
{
    margin: 20px 0 0 0;
    background: #EDCADA;
    color: #FC2947;
    padding: 10px 10px 10px 15px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 500;
    display: none;
}

/* RESPONSIVENESS */

@media screen and (max-width: 768px) 
{
    header 
    {
      height: auto;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .logo a 
    {
      width: 150px;
      height: 60px;
    }
    
    .logo a img 
    {
      width: 120px;
      height: 50px;
    }
    
    section > .rocket 
    {
      flex: 1 1 100%;
      height: auto;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    
    .login_box p
    {
        margin: 0;
        margin-top: 10px;
    }

    .login_box h1 
    {
        margin-top: 10px;
    }

    .rocket img 
    {
      width: 300px;
      height: 240px;
    }
    
    section > .login_box 
    {
      flex: 1 1 100%;
      height: auto;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .input_box
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .input_box input 
    {
      width: 100%;
      font-size: 13px;
      width: 220px;
    }

    .input_box .eye
    {
        transform: translate(190px,58px);
    }
    
    .forgot_password 
    {
      flex-direction: column;
      align-items: flex-start;
      margin: 5px 0 0 0;
    }

    .forgot_password a 
    {
      margin-bottom: 0px;
    }

    .input_box .icon 
    {
        top: 33px;
        left: 10px;
    }
  }
