@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;627&family=Chelsea+Market&family=EB+Garamond:wght@400;500;600;700&family=Inter:wght@400;500;700&family=Montserrat&family=Open+Sans:wght@300;400;500;600;700;800&family=Rubik&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    outline: 1px solid black !important;
  }
  
  body 
  {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1.5;
    background-color: #F0E2CA;
  }
  
  a 
  {
    text-decoration: none;
    font-weight: 600;
    color: #3C2A21;
  }
  
  ul 
  {
    list-style: none;
  }
  
  /* HEADER */
  
  header 
  {
    background-color: #F1DBC2;
    padding: 1rem;
  }
  
  .navbar 
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img 
  {
    height: 50px;
  }
  
  .links li 
  {
    display: inline-block;
    margin-right: 1rem;
  }
  
  .back_btn 
  {
    display: inline-block;
    background-color: #3C2A21;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-right: 1rem;
  }
  
  .toggle_btn 
  {
    display: none;
  }
  
  /* ----- MAIN SECTION ----- */
  
  section 
  {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .greeting-message 
  {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .greeting-message h1 
  {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .cards 
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card 
  {
    width: calc(33.33% - 1rem);
    background-color: #F0D6BB;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  
  .card-img
  {
    display: flex;
    justify-content: center;
  }

  .card img 
  {
    max-width: 75%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .img1
  {
    margin-bottom: 6.5px;
  }

  .card h4 
  {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .card ul 
  {
    margin-bottom: 1rem;
  }
  
  .card ul li 
  {
    margin-bottom: 0.5rem;
  }

  .card-content a
  {
    color: #3C2A21;
    font-weight: 600;
    text-decoration: underline;
  }

  .greeting-message p 
  {
    font-weight: 500;
  }
  
    /* ----- RESPONSIVNESS ----- */

  @media only screen and (max-width: 768px) 
  {
    .card 
    {
      width: calc(50% - 1rem);
    }

    .card img
    {
        margin-bottom: 0;
    }

    .cards
    {
        gap: 15px;
        justify-content: center;
    }
  }
  
  @media only screen and (max-width: 480px) 
  {
    .card 
    {
      width: 100%;
    }

    .card-content h3
    {
        text-align: center;
    }
    
    .back_btn
    {
        display: none;
    }
  }

  @media only screen and (max-width: 1366px) {

    body 
    {
      font-size: 14px;
    }

    .greeting-message
    {
        margin: 0;
    }

    .greeting-message h1 
    {
        font-size: 2rem;
        margin: 0;
    }

    .greeting-message p 
    {
        font-size: 1rem;
        margin: 0;
        margin-bottom: 1rem;
    }

    section
    {
        padding: 1rem;
    }
  }
  
  @media only screen and (max-width: 600px) 
  {
    .back_btn
    {
        display: none;
    }

    .links 
    {
        display: none;
    }
      
    .active
    {
        position: absolute;
        background: #3C2A21;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 40px;
        right: 60px;
        width: 60%;
        margin: 0 auto;
        padding: 30px;
    }
    
    .active li a 
    {
        color: #F0D6BB;
    }
  
    .toggle_btn 
    {
      display: block;
      font-size: 1.5rem;
      cursor: pointer;
    }
  
    .links li 
    {
      display: block;
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }