.env
file_rw\input.txt
file_rw\output.txt
hope/application/models/input.txt
hope/application/models/output.txt
hope/application/key.txt
hope/data/test.json
.DS_Store
hope/data
hope/application/storage_cred.json
.DS_Store
.DS_Store
hope/.DS_Store
hope/application/.DS_Store
hope/assets/.DS_Store
